include _bootstrap
block body
  +a-btn-primary("#") Primary Link Button
  +a-btn-info("#") Info Link Button
  +a-btn-warning("#") Warning Link Button
  +a-btn-danger("#") Danger Link Button
  +a-btn-success("#") Success Link Button
a(href='/') HOME
br
a(href='/users/new') CREATE
br
a(href='/users/') SHOW DATA
p All Users
            each user in users
                    p #{user.name} (#{user.email})
                    a.btn.btn-default.btn-info(href="/users/#{user.name}") Edit/Update
