include _bootstrap
block body
	h1 Put your own body content here
	+a-btn-primary("#") Primary Link Button
	+a-btn-info("#") Info Link Button
	+a-btn-warning("#") Warning Link Button
	+a-btn-danger("#") Danger Link Button
	+a-btn-success("#") Success Link Button
	a(href='/') HOME
